apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: istio-demo
  labels:
    app: frontend
spec:
  ports:
  - port: 80
    targetPort: 8080
    name: http
  selector:
    app: frontend
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: istio-demo
  labels:
    app: frontend
    version: v1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
      version: v1
  template:
    metadata:
      labels:
        app: frontend
        version: v1
    spec:
      containers:
      - name: frontend
        image: ${IMAGE_REPO}/frontend:v1
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        env:
        - name: PRODUCT_SERVICE_URL
          value: "http://product-service"
        - name: ORDER_SERVICE_URL
          value: "http://order-service"
