apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: istio-demo
  labels:
    app: order-service
spec:
  ports:
  - port: 80
    targetPort: 8000
    name: http
  selector:
    app: order-service
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: istio-demo
  labels:
    app: order-service
    version: v1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
      version: v1
  template:
    metadata:
      labels:
        app: order-service
        version: v1
    spec:
      containers:
      - name: order-service
        image: ${IMAGE_REPO}/order-service:v1
        imagePullPolicy: Always
        ports:
        - containerPort: 8000
