apiVersion: v1
kind: Service
metadata:
  name: product-service
  namespace: istio-demo
  labels:
    app: product-service
spec:
  ports:
  - port: 80
    targetPort: 8000
    name: http
  selector:
    app: product-service
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-service-v1
  namespace: istio-demo
  labels:
    app: product-service
    version: v1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: product-service
      version: v1
  template:
    metadata:
      labels:
        app: product-service
        version: v1
    spec:
      containers:
      - name: product-service
        image: ${IMAGE_REPO}/product-service:v1
        imagePullPolicy: Always
        ports:
        - containerPort: 8000
        env:
        - name: VERSION
          value: "v1"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-service-v2
  namespace: istio-demo
  labels:
    app: product-service
    version: v2
spec:
  replicas: 1
  selector:
    matchLabels:
      app: product-service
      version: v2
  template:
    metadata:
      labels:
        app: product-service
        version: v2
    spec:
      containers:
      - name: product-service
        image: ${IMAGE_REPO}/product-service:v1 # Using same image but config simulates v2
        imagePullPolicy: Always
        ports:
        - containerPort: 8000
        env:
        - name: VERSION
          value: "v2-canary"
